@model ContactsManager.Models.Contact
@{
    ViewData["Title"] = "Criar";

}


<div>
    <h1>Criar</h1>
     <div>
        <a href="">Adicionar Contacto</a>
    </div>
    <form method="POST" asp-action="Save">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="name" id="name">

            <label for="nome">Número de Telefone:</label>
            <input type="text" name="phoneNumber" id="phoneNumber">

            <label for="nome">Correio Electronico:</label>
            <input type="text" name="email" id="email">
        </div>

        <button type="submit">Salvar</button>
    </form>
   
</div>