@model ContactsManager.Models.Contact
@{
    ViewData["Title"] = "Editar " + Model.Name;

}


<div>
   <div>
    <h1>Criar</h1>
     <div>
        <a href="">Editar Contacto</a>
    </div>
    <form method="POST" asp-action="Update" asp-route-id="@Model.Id">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="name" id="name" value="@Model.Name">

            <label for="nome">Número de Telefone:</label>
            <input type="text" name="phoneNumber" id="phoneNumber" value="@Model.PhoneNumber">

            <label for="nome">Correio Electronico:</label>
            <input type="text" name="email" id="email" value="@Model.Email">
        </div>

        <button type="submit">Actualizar</button>
    </form>
   
</div>
   
</div>


