# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\projectos\ustm\programacao_i\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
